root=true

[*.cs]
trim_trailing_whitespace=true
insert_final_newline=true

[*]
indent_style = space
indent_size = 3

[*.{fs,fsx}]
indent_style = space
indent_size = 4

[*.{md,markdown,json,js,csproj,fsproj,targets}]
indent_style = space
indent_size = 2


# Verify settings
[*.{received,verified}.{txt,xml,json}]
charset = "utf-8-bom"
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false
