# Auto detect text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
* text=auto

*.cs     diff=csharp

# Custom for Visual Studio
*.sln text eol=crlf merge=union 
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union


*.verified.txt text eol=lf working-tree-encoding=UTF-8
*.verified.xml text eol=lf working-tree-encoding=UTF-8
*.verified.json text eol=lf working-tree-encoding=UTF-8

