version: '{build}'
image: Visual Studio 2022

environment:
  NUKE_TELEMETRY_OPTOUT: 1
  BogusSnkZipPassword: # OpenSource / Bogus.snk.enc.zip
    secure: OqTnyfgOL1S7+NYqo4f5Mc72RsozR4CwAQ6K/YwqPBlG2LOPSoRHm9JxIHHYTecR5B3IiEe0xEyjulbBjNwQuMMSCPX+nr6oH/KfBTx9rf4=

skip_commits:
  message: /(//skip\W*ci)|(read\W*me)/

init:
    - ps: |
            If ($Env:APPVEYOR_REPO_TAG_NAME -match "-"){
              Set-AppveyorBuildVariable -Name "IsPreRelease" -Value True
            }
            Else{
              Set-AppveyorBuildVariable -Name "IsPreRelease" -Value False
            }

build_script: build.cmd ci

test: off

artifacts:
  - path: __package\*.nupkg
    name: NuGet
  - path: __package\*.snupkg
    name: Symbols
  - path: __package\*.zip
    name: Zip


nuget:
    disable_publish_on_pr: true

deploy:
    - provider: GitHub
      release: 'Release $(APPVEYOR_REPO_TAG_NAME) build $(APPVEYOR_BUILD_VERSION)'
      tag: $(APPVEYOR_REPO_TAG_NAME)
      description: '[**CHANGE LOG**](https://github.com/bchavez/Bogus/blob/master/HISTORY.md)'
      prerelease: $(IsPreRelease)
      artifact: Zip, NuGet, Symbols
      auth_token:
          secure: 2XX+rKvAK7FXcKIKYHE4vJs71pmQzutcAwt6rJgl0406qfmG9KeZwZf/tc3HXTL/Yjo8w8vt4n/BIG7qwpzuMXN+54GzwY5/GlUrpCKnaC2EXneUG2QS4lN3QjhCBJab
      on:
          branch: master
          appveyor_repo_tag_name: /v\d+\.\d+\.\d+/ 
          appveyor_repo_tag: true

    - provider: NuGet
      server:
      symbol_server:
      skip_symbols: false
      api_key:
          secure: qrQj9+U7NioCkMEJubm65X/FgT6lA4tvms8C04/B3rOV4f7mCiCMqhJl5B9Gaeo5
      artifact: NuGet, Symbols
      on:
          branch: master
          appveyor_repo_tag_name: /v\d+\.\d+\.\d+/
          appveyor_repo_tag: true


on_failure:
    - ps: |
            # Enables RDP for debugging and setup some tools
            #$blockRdp = $true; choco install notepad2; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
            