<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.14.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NUnit" version="3.5.0" targetFramework="net451" />
  <package id="NUnit.ConsoleRunner" version="3.4.1" targetFramework="net451" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.4.1" targetFramework="net451" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.4.1" targetFramework="net451" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.4.1" targetFramework="net451" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.4.1" targetFramework="net451" />
  <package id="NUnit3TestAdapter" version="3.4.1" targetFramework="net451" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net451" />
  <package id="Z.ExtensionMethods.WithTwoNamespace" version="2.0.10" targetFramework="net451" />
</packages>