source https://www.nuget.org/api/v2

nuget Newtonsoft.Json == 9.0.1

group build
    
    source https://www.nuget.org/api/v2

    nuget FAKE
    nuget FSharp.Data
    nuget Z.ExtensionMethods.WithNamespace
    nuget DotNetZip
    nuget NuGet.CommandLine == 2.8.6
    nuget NUnit.Runners == 2.6.4
    nuget Newtonsoft.Json
