version 4.4.0

source https://www.nuget.org/api/v2


group build
    generate_load_scripts: true
    
    source https://www.nuget.org/api/v2

    nuget FAKE == 4.63.2
    nuget FSharp.Data
    nuget Z.ExtensionMethods.WithNamespace
    nuget DotNetZip == 1.10.1
    nuget NuGet.CommandLine == 3.5.0
    nuget xunit.runner.console == 2.2.0
    nuget Newtonsoft.Json == 10.0.3
    nuget secure-file
    nuget lz4net == 1.0.15.93
